{# src/Blogger/BlogBundle/Resouces/views/Blog/show.html.twig #}
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block title %}{{ modem.getModemPhone }}{% endblock %}

{% block stylesheets %} 
    {{ parent() }} 
{% endblock %}

{% block body %}
    <header>
        <h2>{{ modem.getModemSerial }}</h2>
    </header>
    <div>
        <p>{{ modem.getModemPhone }}</p>
    </div>
    <form action="{{ path('MManagerMControlBundle_modem_show', {'id': modem.getModemId}) }}" method="post" {{ form_enctype(form) }} class="mmanager">
        {{ form_errors(form) }}
        <table class="table modem">
            <tr>
                <th>Свойство</th>
                <th>Текущее значение</th>
                <th>Новое значение</th>
            </tr>
            <tr>
                <td>Серийный номер устройства</td>
                <td>{{ modem.getModemSerial }}</td>
                <td>{{ form_row(form.modem_serial, { value : modem.getModemSerial }) }}</td>
            </tr>
            <tr>
                <td>Номер телефона</td>
                <td>{{ modem.getModemPhone }}</td>
                <td>{{ form_row(form.modem_phone, { value : modem.getModemPhone }) }}</td>
            </tr>
            <tr>
                <td>Расписание</td>
                <td>{{ modem.getScheduleId ? modem.getScheduleId.getScheduleName }}</td>
                <td>{{ form_row(form.schedule) }}</td>
            </tr>
            <tr>
                <td>Группа</td>
                <td>{{ modem.getModemGroupId ? modem.getModemGroupId.getModemGroupName }}</td>
                <td>{{ form_row(form.modem_group) }}</td>
            </tr>
            <tr class="location">
                <td>Местонахождение</td>
                <td>{{ modem.getModemLocation }}</td>
                <td>{{ form_row(form.modem_location, { value : modem.getModemLocation }) }}</td>
            </tr>
            <tr><td><button type="submit" class="btn btn-primary">Сохранить изменения</button></td></tr>
        </table>
        {{ form_rest(form) }}
    </form>

    <hr>

    <h1>История состояний модема</h1>
    
    <table class="table modemstatus" id="tsorter">
        <thead>
            <tr>
                <th>#</th>
                <th>Дата</th>
                <th>Текст сообщения</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for message in messages %}
                <tr onselectstart="return false">
                    <td>{{ message.getSmsId }}</td>
                    <td>{{ message.getSmsSentdate|date('Y-m-d') }}</td>
                    <td class="smstext">{{ message.getSmsText }}</td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/modemmanager/js/MainForm/RenderStatus.js') }}" type="text/javascript"></script>
{% endblock %}