
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/modemmanager/css/modemmanager.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}АСУНО Список модемов{% endblock %}
{% block body %}
    <table class="table" id="tsorter" style="border: #ddd solid 1px;">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Группа</th>
                <th>Местонахождение</th>
                <th>Статус</th>
                <th>Последнее обновление</th>
                <th style="background-color:#ccc;"></th>
                <th>Номер телефона</th>
                <th>Расписание</th>
                <th>Серийный номер</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for modem in modems %}
                <tr class="activeRowModem" id="{{ modem.getModemId }}" action="/modemlist/" onselectstart="return false">
                    <td><input type="checkbox" name="checkmodems" class="checker" id="{{ modem.getModemId }}"></td>
                    <td class="modem_id">{{ modem.getModemId }}</td>
                    <td>{{ modem.getModemGroupId ? modem.getModemGroupId.getModemGroupName }}</td>
                    <td>{{ modem.getModemLocation }}</td>
                    <td class="modem_status">{{ modem.getModemStatus }}</td>
                    <td>{{ modem.getLastUpdate|date('Y-m-d H:i:s') }}</td>
                    <td style="background-color:#ccc;"></td>
                    <td>{{ modem.getModemPhone }}</td>
                    <td>{{ modem.getScheduleId ? modem.getScheduleId.getScheduleName }}</td>
                    <td>{{ modem.getModemSerial }}</td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Редактор</h3>
        </div>
        <div class="panel-body">
            <div class="btn btn-default" id="addnewmodem" style="margin-bottom: 15px;" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Добавить</div><br>
            <button class="btn btn-default" id="deletemodem" action="{{ path('MManagerMControlBundle_modem_deletemodem') }}"><span class="glyphicon glyphicon-trash"></span> Удалить</button> 
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Инструменты</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" id="sendsms" action="{{ path('MManagerMControlBundle_modem_sendsms') }}">
                <span class="glyphicon glyphicon-envelope"></span> Отправить SMS
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Форма добавления модема</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('MManagerMControlBundle_modem_showAll') }}" method="post" {{ form_enctype(form) }} class="mmanager">
                        {{ form_errors(form) }}
                        {{ form_row(form.modem_location, {'label':'Местонахождение'}) }}
                        {{ form_row(form.modem_phone, {'label':'Номер телефона'}) }}
                        {{ form_row(form.modem_serial, {'label':'Серийный номер'}) }}
                        {{ form_row(form.modem_group, {'label':'Имя группы'}) }}
                        {{ form_row(form.schedule, {'label':'Расписание'}) }}
                        {{ form_rest(form) }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/modemmanager/js/MainForm/UpdatePage.js') }}" type="text/javascript"></script>
{% endblock %}