
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/modemmanager/css/modemmanager.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Modems list{% endblock %}
{% block body %}
    <table class="table" id="tsorter">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Серийный номер</th>
                <th>Номер телефона</th>
                <th>Местонахождение</th>
                <th>Статус</th>
                <th>Последнее обновление</th>
                <th>Группа</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for modem in modems %}
                <tr class="activeRowModem" id="{{ modem.getModemId}}" action="/modemlist/{{ modem.getModemId }}" onselectstart="return false">
                    <td><input type="checkbox" name="checkmodems" class="checker" id="{{ modem.getModemId }}"></td>
                    <td>{{ modem.getModemId }}</td>
                    <td>{{ modem.getModemSerial }}</td>
                    <td>{{ modem.getModemPhone }}</td>
                    <td>{{ modem.getModemLocation }}</td>
                    <td class="modem_status">{{ modem.getModemStatus }}</td>
                    <td>{{ modem.getLastUpdate|date('Y-m-d H:i:s') }}</td>
                    <td></td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Администрирование</h3>
        </div>
        <div class="panel-body">
            <div class="btn btn-default" id="addnewmodem" style="margin-bottom: 15px;" data-toggle="modal" data-target="#myModal">Добавить модем</div>
            <button class="btn btn-default" id="deletemodem" action="{{ path('MManagerMControlBundle_modem_deletemodem') }}">Удалить выделенные</button>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Инструменты</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" id="sendsms" action="{{ path('MManagerMControlBundle_modem_sendsms') }}">
                Отправить SMS
            </button>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Форма добавления модема</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('MManagerMControlBundle_modem_showAll') }}" method="post" {{ form_enctype(form) }} class="mmanager">
                        {{ form_errors(form) }}
                        {{ form_row(form.modem_location) }}
                        {{ form_row(form.modem_phone) }}
                        {{ form_row(form.modem_serial) }}
                        {{ form_row(form.modem_group) }}
                        {{ form_rest(form) }}
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}