
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/modemmanager/css/modemmanager.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}АСУНО Группы модемов{% endblock %}

{% block navigation %}
    <div class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">АСУНО "Сокол"</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/modemlist/">Список модемов</a></li>
                    <li class="active"><a href="/modemgroupslist/">Список групп</a></li>
                    <li><a href="/messagelist/">Список сообщений</a></li>
                    <li><a href="/schedulelist/">Расписания</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
      </div>
{% endblock %}

{% block body %}
    <table class="table" id="tsorter">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Название группы</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for modemgroup in modemgroups %}
                <tr class="activeRowModemGroup" id="{{ modemgroup.getModemGroupId }}" action="/modemgroupslist/" onselectstart="return false">
                    <td style="width: 16px;"><input type="checkbox" name="checkmodems" class="checker" id="{{ modemgroup.getModemGroupId }}"></td>
                    <td style="width: 32px;">{{ modemgroup.getModemGroupId() }}</td>
                    <td>{{ modemgroup.getModemGroupName }}</td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Редактор</h3>
        </div>
        <div class="panel-body">
            <div class="btn btn-default" id="addnewmodem" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-plus"></span> Добавить</div><br><br>
            <button class="btn btn-default" id="deletemodem" action="{{ path('MManagerMControlBundle_modemgroup_deletemodemgroup') }}"><span class="glyphicon glyphicon-trash"></span> Удалить</button>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Инструменты</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" id="sendsms" action="{{ path('MManagerMControlBundle_modemgroup_sendsms') }}">
                <span class="glyphicon glyphicon-envelope"></span> Отправка SMS
            </button>
        </div>
    </div>
            
    <!-- Button trigger modal -->
    

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Форма добавления группы</h4>
                </div>
                <form action="{{ path('MManagerMControlBundle_modemgroup_showAll') }}" method="post" {{ form_enctype(form) }} class="mmanager">
                    <div class="modal-body">
                        {{ form_errors(form) }}
                        {{ form_row(form.modemgroup_name, { "label" : "Название группы" }) }}
                        {{ form_rest(form) }}
                    </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}