
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/modemmanager/css/modemmanager.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Modem groups list{% endblock %}
{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>ID</th>
                <th>Название группы</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for modemgroup in modemgroups %}
                <tr>
                    <td style="width: 16px;"><input type="checkbox" name="checkmodems" class="checker" id="{{ modemgroup.getModemGroupId }}"></td>
                    <td style="width: 32px;">{{ modemgroup.getModemGroupId() }}</td>
                    <td>{{ modemgroup.getModemGroupName }}</td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Администрирование</h3>
        </div>
        <div class="panel-body">
            <div class="btn btn-default" id="addnewmodem" data-toggle="modal" data-target="#myModal">Добавить группу модемов</div>
            <div class="btn btn-default" id="deletemodem">Удалить выделенные</div>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Group</h3>
        </div>
        <div class="panel-body">
            <div class="btn btn-default primary">Switch Group</div>
            <button class="btn btn-default" id="sendsms" action="{{ path('MManagerMControlBundle_modem_sendsms') }}">
                Send Group SMS
            </button>
        </div>
    </div>
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Group</h3>
        </div>
    </div>
            
    <!-- Button trigger modal -->
    

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Название модали</h4>
                </div>
                <div class="modal-body">
                    <form action="{{ path('MManagerMControlBundle_modemformadd') }}" method="post" {{ form_enctype(form) }} class="mmanager">
                        {{ form_errors(form) }}
                        {{ form_row(form.modem_location) }}
                        {{ form_row(form.modem_phone) }}
                        {{ form_row(form.modem_serial) }}
                        {{ form_rest(form) }}
                        <input type="submit" value="Add new modem">
                    </form>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}