{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <header>
        <h1>Modem add Form</h1>
    </header>

    {% for flashMessage in app.session.flashbag.get('mmanager-notice') %}
        <div class="mmanager-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <form action="{{ path('MManagerMControlBundle_modemformview') }}" method="post" {{ form_enctype(form) }} class="mmanager">
        {{ form_errors(form) }}

        {{ form_row(form.modem_location) }}
        {{ form_row(form.modem_phone) }}
        {{ form_row(form.modem_serial) }}

        {{ form_rest(form) }}

        <input type="submit" value="Add new modem">
    </form>
{% endblock %}