
{% extends 'MManagerMControlBundle::layout.html.twig' %}

{% block stylesheets %} 
    {{ parent() }} 
    <link href="{{ asset('bundles/modemmanager/css/modemmanager.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}АСУНО SMS{% endblock %}

{% block body %}
    <table class="table" id="tsorter">
        <thead>
            <tr>
                <th><input type="checkbox" name="checkall" id="checkall"></th>
                <th>ID</th>
                <th>Текст сообщения</th>
                <th>Отправитель</th>
                <th>Дата/время получения</th>
            </tr>
        </thead>
        <tbody id="modems">
            <form>
            {% for sms in smsmessages %}
                <tr class="activeRow" id="{{ sms.getSmsId }}" action="/messagelist/" onselectstart="return false">
                    <td><input type="checkbox" name="checkmodems" class="checker" id="{{ sms.getSmsId }}"></td>
                    <td>{{ sms.getSmsId }}</td>
                    <td>{{ sms.getSmsText }}</td>
                    <td>{{ sms.getSmsFrom }}</td>
                    <td>{{ sms.getSmsSentdate|date('Y-m-d') }}</td>
                </tr>
            {% endfor%}
            </form>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Редактор</h3>
        </div>
        <div class="panel-body">
            <button class="btn btn-default" id="deletemodem" action="{{ path('MManagerMControlBundle_smsmessage_delete') }}"><span class="glyphicon glyphicon-trash"></span> Удалить</button>
        </div>
    </div>
{% endblock %}